@model dynamic

@{
    ViewBag.Title = "Book Me In!!!";
  
}

<html>
    <script></script>
    <body>
        <table width="100%">
            <tr style="width: 100%"><td style="width:100%"><h2>@Html.ActionLink("Site","Index","Site")</h2></td></tr>
            <tr style="width: 100%"><td style="width:100%"><h2>Rooms</h2></td></tr>
            <tr><td></td></tr>
        </table>
    </body>
</html>
